<
style
>
@import
	url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap')
	;

</
style>* {
	padding: 0;
	margin: 0;
	border: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-style: inherit;
	font-weight: 400;
}

button {
	padding: 0;
	border: 0;
	background: 0;
}
/*--------------------------------------------------------------------*/
body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	background-color: #363F46;
	font-size: 20px;
}

.wrapper {
	max-width: 1280px;
	overflow: hidden;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 5px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.container .row {
	width: 100%;
}

.jcc {
	justify-content: center;
}

.authorization {
	height: 200px;
	width: 300px;
	margin: 0;
}

.wallets {
	width: 300px;
}

input[type="date"] {
	position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	color: transparent;
	background: transparent;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button
	{
	z-index: -10;
}

input[type="date"]::-webkit-input-placeholder {
	z-index: 99;
}

input[type="date"]:placeholder {
	z-index: 99;
}

input[type="date"] {
	padding: 12px 20px;
}

.input {
	display: block;
	text-align: center;
	width: 300px;
	min-width: 200px;
	height: 35px;
	margin: 5px auto 5px;
	background: #000;
	font-weight: 400;
	color: #FFF;
	border: 0;
	border-radius: 6px;
	font-size: 20px;
}

.selectTransactionType {
	display: flex;
	justify-content: center;
	min-width: 100px;
	margin: 5px auto 5px;
}

.selectTransactionCategory {
	display: flex;
	justify-content: center;
	min-width: 100px;
	margin: 5px auto 5px;
}

select {
	appearance: none;
	text-align: center;
	-webkit-appearance: none;
	width: 300px;
	font-size: 20px;
	min-width: 100px;
	height: 35px;
	background-color: #000;
	border: 0;
	border-radius: 6px;
	color: #FFF;
	cursor: pointer;
}

.authorization p {
	display: block;
	text-align: center;
	max-width: 300px;
	text-align: center;
	font-weight: 700;
	margin: 10px 0 10px;
	color: #FFF;
}

.wallets p {
	display: block;
	text-align: center;
	max-width: 300px;
	text-align: center;
	font-weight: 700;
	margin: 10px 0 10px;
	color: #FFF;
}

.button {
	display: block;
	text-align: center;
	width: 300px;
	min-width: 200px;
	height: 35px;
	line-height: 30px;
	margin: 5px auto 5px;
	background: #118DA8;
	font-weight: 400;
	color: #FFF;
	border: 0;
	border-radius: 6px;
	margin: 5px auto 5px;
	font-size: 20px;
}