.wallets {
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	background: #000;
	padding: 15px 20px;
	width: 500px;
}

.wallets-bar {
	display: flex;
	font-weight: 700;
	margin: 10px 0 10px;
	width: 100%;
	padding: 0 5px;
}

.titles {
	align-self: flex-start;
	flex: 1 1 auto;
	text-align: left;
	color: #FFF;
	line-height: 30px;
}

.wallets-create {
	align-self: flex-end;
	flex: 0 1 30px;
	padding: 0 5px;
}

.wallet {
	background: #118DA8;
	border-radius: 6px;
	padding: 0 5px;
	display: flex;
	width: 100%;
	margin: 5px 0;
}

.wallet .button {
	flex: 1 1 auto;
	display: flex;
	height: 100%;
	flex-direction: column;
	margin: 0;
}

.wallet-name {
	font-size: 22px;
	margin: 5px 0;
	display: flex;
	align-items: center;
	line-height: 100%;
	padding-left: 5px;
}

.wallet-balance {
	margin: 5px 0;
	color: rgba(255, 255, 255, 0.70);
	font-size: 18px;
	display: flex;
	align-items: center;
	line-height: 100%;
	padding-left: 5px;
}

.wallet-update {
	display: flex;
	align-items: center;
	padding: 0 5px;
}

.wallet-remove {
	display: flex;
	align-items: center;
	padding: 0 5px;
}