<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Wallet by Java EE</display-name>
	<servlet>
		<servlet-name>AuthorizationServlet</servlet-name>
		<servlet-class>AuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorizationServlet</servlet-name>
		<url-pattern>/start</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Authorization</servlet-name>
		<jsp-file>/views/Authorization.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authorization</servlet-name>
		<url-pattern>/authorization</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WalletView</servlet-name>
		<jsp-file>/views/WalletView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>WalletView</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Wallets</servlet-name>
		<jsp-file>/views/Wallets.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Wallets</servlet-name>
		<url-pattern>/choice</url-pattern>
	</servlet-mapping>


</web-app>
