<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Wallet by Java EE</display-name>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.svg</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AuthorizationServlet</servlet-name>
		<servlet-class>AuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorizationServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>TransactionFilterServlet</servlet-name>
		<servlet-class>TransactionFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionFilterServlet</servlet-name>
		<url-pattern>/wallet/filter</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Authorization</servlet-name>
		<jsp-file>/views/Authorization.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authorization</servlet-name>
		<url-pattern>/authorization-page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WalletView</servlet-name>
		<jsp-file>/views/WalletView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>WalletView</servlet-name>
		<url-pattern>/wallet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Wallets</servlet-name>
		<jsp-file>/views/wallets/Wallets.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Wallets</servlet-name>
		<url-pattern>/choice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WalletsServlet</servlet-name>
		<servlet-class>WalletsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WalletsServlet</servlet-name>
		<url-pattern>/wallets</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>WalletUpdate</servlet-name>
		<jsp-file>/views/wallets/UpdateWallet.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>WalletUpdate</servlet-name>
		<url-pattern>/wallets/update</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>WalletCreate</servlet-name>
		<jsp-file>/views/wallets/CreateWallet.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>WalletCreate</servlet-name>
		<url-pattern>/wallets/create</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>TransactionServlet</servlet-name>
		<servlet-class>TransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionServlet</servlet-name>
		<url-pattern>/wallet/transaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionUpdate</servlet-name>
		<jsp-file>/views/transaction/UpdateTransaction.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionUpdate</servlet-name>
		<url-pattern>/wallet/transaction/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionCreate</servlet-name>
		<jsp-file>/views/transaction/CreateTransaction.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionCreate</servlet-name>
		<url-pattern>/wallet/transaction/create</url-pattern>
	</servlet-mapping>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/authorization-page</form-login-page>
			<form-error-page>/authorization-page</form-error-page>
		</form-login-config>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SecureWallet</web-resource-name>
			<url-pattern>/wallet*</url-pattern>
			<url-pattern>/choice</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>admin</role-name>
	</security-role>
</web-app>
